<h2>Stickers</h2>
<img class="sticker" id="sticker-high-five" draggable="true" src="<%= require('./stickers/high-five.svg') %>">
<img class="sticker" id="sticker-wave" draggable="true" src="<%= require('./stickers/wave.svg') %>">
<img class="sticker" id="sticker-question" draggable="true" src="<%= require('./stickers/question.svg') %>">
<img class="sticker" id="sticker-question-1" draggable="true" src="<%= require('./stickers/question-1.svg') %>">
<img class="sticker" id="sticker-thumbs-up" draggable="true" src="<%= require('./stickers/thumbs-up.svg') %>">
<img class="sticker" id="sticker-thumbs-down" draggable="true" src="<%= require('./stickers/thumbs-down.svg') %>">